body 
{
	margin-left:auto; 
	margin-right:auto;
	font-family: Tahoma, /* 'Segoe UI', Geneva, Verdana, */ sans-serif;
	font-size: 16px; 
    line-height: 1.35;
}

h1, h2, h3, h4
{
    text-align: center
}

h2.toc
{
    text-align: left;
    white-space: nowrap;
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

div.narrative
{
    max-width: 40em;
    margin: auto;
}

div.canvas-container
{
    width: max-content;
    margin: auto;
}

canvas
{
    border: 1px solid #000000;
    margin-left: 10px;
    margin-right: 10px;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

table
{
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

th, td
{
    padding-left: 10px;
    padding-right: 10px;
}

footer
{
    text-align: right;
    margin-right: 10px;
}

pre
{
    margin-left: 5em;
}

@media print 
{
    canvas 
    {
        height: 100px;
    }
    img 
    {
        height: 100px;
        width: 75px;
    }
}
